body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.configuracoes, .listaTermosSorteados {
    margin-bottom: 20px;
}

button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cartela {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.termo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.termo.marcado {
    background-color: #90ee90; /* Cor quando o termo é marcado */
}

.descricaoSorteada, .listaTermosSorteados {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.listaTermosSorteados {
    background-color: #f0f0f0; /* Cor de fundo para a lista de termos sorteados */
    color: #000; /* Cor do texto para a lista de termos sorteados */
    max-height: 200px; /* Altura máxima antes de começar a rolar */
    overflow-y: auto; /* Permite rolar a lista se o conteúdo exceder a altura máxima */
}
